* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0%;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

a {
    text-decoration: none;
    color: white;
}


/* End Global Rules */

header {
    background-color: #6495ed;
    padding-bottom: 2rem;
    ;
    padding-top: 2rem;
}

@media (max-width: 768px) {
    header {
        background-color: white;
    }
}

.main-nav {
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
    /* padding: 20px; */
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}

.nav a {
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
    /* display: block; */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav .active {
    color: #8d99af!important;
}

.nav a:hover {
    color: #8d99af;
    transition: .3s;
}

@media (min-width: 1200px) {
    .nav li {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.main-white-button {
    background-color: white;
    /* justify-content: flex-end; */
    display: flex;
    padding: 0px 20px 0 20px;
    /* color: black; */
    border-radius: 5px;
    margin-left: 30px;
}

@media (max-width: 992px) {
    .main-white-button {
        display: none;
    }
}

.main-white-button a {
    color: black;
    padding: 10px;
}

.logo {
    background-image: url(/images/white-logo.png);
    width: 166px;
    height: 58px;
    display: inline-block;
    position: absolute;
    top: -30%;
}

@media (max-width: 992px) {
    .logo {
        /* background-image: url(/images/black-logo.png); */
        width: 166px;
        height: 58px;
        display: inline-block;
        position: absolute;
        top: -100%;
    }
}

@media (max-width: 768px) {
    .logo {
        background-image: url(/images/black-logo.png)
    }
}


/* .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.menu-trigger {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .menu-trigger {
        display: none;
    }
}

.main-banner {
    background-image: url(/images/banner-bg.jpg);
    background-size: cover;
}

.col-lg-12 {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100%;
}

.col-lg-12 form {
    background-color: white;
    border: none;
    padding: 39px;
}

.top-text {
    text-align: center;
}

.col-lg-3 fieldset {
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 7px;
    outline: none;
    margin-bottom: 20px;
    border: none;
}

.col-lg-3 fieldset select {
    width: 100%;
    border: 1px solid #8d99af;
    height: 35px;
    border-radius: 7px;
    outline: none;
}

.sele {}

.col-lg-3 fieldset input {
    width: 100%;
    border: 1px solid #8d99af;
    height: 35px;
    border-radius: 7px;
    outline: none;
}

.col-lg-3 fieldset button {
    width: 100%;
    height: 60px;
    background-color: #8d99af;
    border: none;
    color: white;
    border-radius: 7px;
}

.col-lg-3 fieldset button i {
    border-radius: 50%;
    color: #8d99af;
    background-color: white;
    padding: 10px;
    margin-right: 12px;
}

.form-select {
    width: 100%;
    border: 1px solid;
    height: 35px;
    border-radius: 7px;
}

.top-text h6 {
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
    font-weight: 500;
    margin-top: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.top-text h2 {
    color: white;
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 800;
    margin-bottom: 45px;
}

.col-lg-10 {}

.col-lg-10 ul {}

.col-lg-10 ul li {}

.col-lg-10 ul li a {}